---
apiVersion: v1
kind: Secret
metadata:
  name: keys-appname-api
  namespace: appname-qa
type: Opaque
data:
  DB_HOST: ####################
  DB_PORT: ########
  DB_USERNAME: ########
  DB_PASSWORD: #########
  DB_NAME: #######
  SECRET_KEY_BASE: #############
  AWS_ACCESS_KEY_ID: ############
  AWS_SECRET_ACCESS_KEY: ##############
  AWS_REGION: ############
  AWS_ENDPOINT: ##############
  FLUENT_HOST: #############
  FLUENT_PORT: #####
  FLUENT_TAG: ###################
  WHATSAPP_API_KEY: ################
  WABOXAPP_URL: ###############
  MOBILE_UID: ###############
  REDIS_URL: ################
  

# # echo -n 'secrettext'  | base64
