output.elasticsearch.hosts=["es.example.com:9200"]
ELASTICSEARCH_HOSTS=es.example.com:9200
ELASTICSEARCH_USERNAME=app_qa_auditbeat
ELASTICSEARCH_PASSWORD=xXxXxXxXxXxXxXxXx

# setup.kibana.host
SETUP_KIBANA_HOST=kibana.example.com
